
.verticalLine {
    border-left: thick solid #ff6790;
}
.box {
	float:left;
	margin-right:50px;
}
#userssel {
	width:150px;
	height:auto;
}
#buttonBox {
	width:225px;
	height:400px;
	position:absolute;
	top:205px;
	left:0px;
	padding-left:10px;
	padding-right:10px;
	z-index:2;
}
#detailBox {
	
	top:205px;
	
}
#detailBox1 {
	
	top:385px;
	
}
#detailBox2 {
	
	top:760px;
	
}
#detailBox3 {
	
	top:1140px;
	
}
#detailBox4 {
	
	top:1520px;
	
}
#detailBox5 {
	
	top:1900px;
	
}
.rest{
width:100%;
	min-width:1180px;
	max-width:1366px;
	height:380px;
	position:absolute;
	left:0px;
	padding-right:20px;
	padding-left:225px;
	border-left: 1px solid gray;
	overflow:auto;
	}