@CHARSET "ISO-8859-1";


h3{
	font-size:13px;
	font-weight:bold;
	padding:0px 0px;
	text-align:center;
	}

img,a,ul,li,h3{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	/*font-size:100%;*/
	vertical-align:baseline;
	/*background:transparent;*/
	}


ol, ul{
	list-style:none;
	}
	
.more{
	text-align:right;
	}
	
.str{
	font-weight:bold;
	}

.engine{
	position:relative;
	float:left;
	margin-right:8px;
	margin-bottom:10px;
	width:340px;
	border:1px solid #666;
	/*color:#C60;*/
	}
h3{
	font-size: xx-large;
}	
.round{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding-bottom: 5px;
	
	}
	
.boxtext{
	position:relative;
	float:left;
	width:190px;
	margin-left:7px;
	padding-top:2px;
	}

.boxintxt{
	/*color:#1472b8;*/
	padding-bottom:3px;
	}

.clear{
	clear:both;
	}


.imgbox{
	position:relative;
	float:left;
	width:100px;
	height:75px;
	margin-left:5px;
	margin-top:5px;
	-moz-box-shadow:5px 5px 5px #888;
	-webkit-box-shadow:5px 5px 5px #888;
	box-shadow:5px 5px 5px #888;
	}

